.allWatches{
    width: 80%;margin: auto;
}
.listWatches{
    text-align: center;
}
.singleWatch{
    position: relative;
    /* width: 31%;height:65%;float: left;background-color: white; */
    width: 31%;margin-left: 2%;float: left;background-color: white;
}
.clearWatchFloat{
    clear: both;
}
.switchPage{
    text-align: center;
}
.switchPage a,.switchPage a:focus,.switchPage a:hover{
    color:black;text-decoration:none;
}